/* General body styling */
body {
  background-color: #000;
  color: #E0E0E0;
  font-family: Avenir, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: default; /* Prevent the text selection cursor */
}

/* Banner styles */
#centerbanner, #topbanner, #movingbanner {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  font-size: 80%;
}

#centerbanner {
  margin-top: 20%;
}

#pagecontent {
  margin: 50px auto 0;
  overflow: hidden;
  width: 85%;
}

/* Animation styles */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes upwards {
  from { margin-top: 20%; }
  to   { margin-top: 0%; }
}

@keyframes delayedfadein {
  0%, 66% { opacity: 0; }
  100% { opacity: 1; }
}

.beginningfadein {
  animation: fadein 0.5s ease;
}

.upwardsmovement {
  animation: upwards 0.5s ease;
}

.pagecontentfade {
  animation: delayedfadein 0.75s ease;
}

/* Vendor-prefixed keyframes for Safari, older browsers */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes upwards {
  from { margin-top: 20%; }
  to   { margin-top: 0%; }
}

@-webkit-keyframes delayedfadein {
  0%, 66% { opacity: 0; }
  100% { opacity: 1; }
}

.beginningfadein, .upwardsmovement, .pagecontentfade {
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease;
}

.beginningfadein {
  -webkit-animation-name: fadein;
}

.upwardsmovement {
  -webkit-animation-name: upwards;
}

.pagecontentfade {
  -webkit-animation-name: delayedfadein;
  -webkit-animation-duration: 0.75s;
}

/* Link styles */
a {
  transition: 0.2s;
}

a:link, a:visited {
  color: #E0E0E0;
  text-decoration: none;
}

a:hover {
  color: #DD1111;
}

a:active {
  color: #DD1111;
}

/* Carrots and responsive styling */
.carrots {
  display: inline-block;
  margin: 0 7%;
  vertical-align: top;
}

/* SVG styling */
.svege, .greysvege, .currentsvege {
  height: 100px;

}

.svege path, .greysvege, .currentsvege {
  fill: #E0E0E0;
}

.svege:hover path {
  fill: #BB0000;
}

.greysvege {
  fill: #4D4D4D;
}

.currentsvege {
  fill: #BB0000;
}

/* List styles */
ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "· ";
  padding-right: 5px;
}

@media (hover: none) {
  /* Styles for devices that can't hover (e.g., mobile) */
  .carrots {
    margin: 0 5%;
  }
}